{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Analytics Dashboard</title>
    {% load static %}

    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">  
    <!-- <script src="{% static 'js/app.js' %}"></script>    -->
</head>
<body>
<!--     
    <header>
        <div class="menu">
            <a href="mailto: brunodekadencija@gmail.com"><ion-icon name="mail"></ion-icon></a>
            <a href="https://www.linkedin.com/in/borna-molnar-erhati%C4%87/?originalSubdomain=at"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://github.com/Borna07"><ion-icon name="logo-github"></ion-icon></a>
        </div>

    </header> -->

    <div class="container">
        {% block sidebar %}
        <div class="navigation">
            <ul>
                <li>
                    <a href="{% url 'index' %}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'get-city-data' 'Rijeka' %}">

                        <span class="icon"><ion-icon name="game-controller-outline"></ion-icon></span>
                        <span class="title">Rijeka</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'get-city-data' 'Rovinj' %}">
                        <span class="icon"><ion-icon name="trending-up-outline"></ion-icon></span>
                        <span class="title">Rovinj</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'get-city-data' 'Split' %}">
                        <span class="icon"><ion-icon name="trending-down-outline"></ion-icon></span>
                        <span class="title">Split</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'get-city-data' 'Varazdin' %}">
                        <span class="icon"><ion-icon name="videocam-off-outline"></ion-icon></span>
                        <span class="title">Varazdin</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'get-city-data' 'Zagreb' %}">
                        <span class="icon"><ion-icon name="videocam-off-outline"></ion-icon></span>
                        <span class="title">Zagreb</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'get-city-data' 'Zadar' %}">
                        <span class="icon"><ion-icon name="videocam-off-outline"></ion-icon></span>
                        <span class="title">Zadar</span>
                    </a>
                </li>
            </ul>
        </div>
        {% endblock %}
        <div class="main">

        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        </div>
    </div> 
</body>
</html>