{% extends "dashboard/base.html" %}
{% load humanize %}
{% load static %}
{% load dashboard_extras %}
{% block content %}

<div class="topbar">
    <div class="navi">
        <span id="cityName">{{ request.path|split:"/" }}</span>
        <span id="cityName">{{ request.path|split_number:"/" }}</span>
        {%for calendar_week in x_values %} 
        <a href="{% url 'deepDive' request.path|split:'/' calendar_week %}" class="btn">
            <span class="title">{{ calendar_week }}</span>
        </a>
        {%endfor%}


    </div>
    <div class="links">
        <a href="mailto: brunodekadencija@gmail.com"><ion-icon name="mail"></ion-icon></a>
        <a href="https://www.linkedin.com/in/borna-molnar-erhati%C4%87/?originalSubdomain=at"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="https://github.com/Borna07"><ion-icon name="logo-github"></ion-icon></a>
    </div>
</div>
    <!-- <div class="cityName">
        <span id="cityName">{{ request.path|split:"/"}}</span>
       

    </div>
     -->

    <div class="middle">

        <div class="sale">
            <div class="charts">
                <div class="chartStatDistribution">
                    <div class="chartHeader">
                        
                        <canvas id="avg_price_sale" width="300" height="150"></canvas>  
                        <canvas id="avg_price_sqrm" width="300" height="150"></canvas>  
                        <canvas id="entries" width="300" height="150"></canvas>  

                    </div>
                </div>

                 
            </div>
        </div>

        <div class="rent">

            <div class="charts">
                <div class="chartStatDistribution">
                    <div class="chartHeader">
                        <canvas id="avg_price_rent" width="300" height="150"></canvas>  

                        <canvas id="avg_price_sqrm_rent" width="300" height="150"></canvas>  
                        <canvas id="entries_rents" width="300" height="150"></canvas>  
                    </div>
                </div>

            </div>
        </div>


    </div>





<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script type="text/javascript">
   
    const ctx = document.getElementById('avg_price_sqrm');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{%for label in x_values %}'{{label}}',{%endfor%}],
            datasets: [{
                label: 'price/sqrm',
                data: [{%for value in avg_price_sqrm %}{{value}},{%endfor%}],
                borderColor: "#3e95cd",
                borderWidth: 1,
                fill: false,
                tension: 0.1

            }]
        },
        options: {
            elements: {
                point: {
                    radius: 8,
                    pointHitRadius: 12,
                    pointHoverRadius: 7,
                    pointHoverBorderColor: "#e69138",
                    hoverBackgroundColor: "#27ce00",

                }
            },
            // scales: {
            //             yAxes: [{
            //                 ticks: {
            //                     beginAtZero: false,
            //                     max: 4600,
            //                     min: 1500
            //                 }
            //             }]
            //         },
            title: {
                display: true,
                text : "Average sale price per square meter"
                },

            }
        
    });


    const ctx_avg_price_sqrm_rent = document.getElementById('avg_price_sqrm_rent');
    const myChart_avg_price_sqrm_rent = new Chart(ctx_avg_price_sqrm_rent, {
        type: 'line',
        data: {
            labels: [{%for label_X in x_value_rents %}'{{label_X}}',{%endfor%}],
            datasets: [{
                label: 'price/sqrm',
                data: [{%for value in avg_price_sqrm_rents %}{{value}},{%endfor%}],
                borderColor: "#3e95cd",
                borderWidth: 1,
                fill: false,
                tension: 0.1

            }]
        },
        options: {
            elements: {
                point: {
                    radius: 8,
                    pointHitRadius: 12,
                    pointHoverRadius: 7,
                    pointHoverBorderColor: "#e69138",
                    hoverBackgroundColor: "#27ce00",

                }
            },
            // scales: {
            //             yAxes: [{
            //                 ticks: {
            //                     beginAtZero: false,
            //                     max: 4600,
            //                     min: 1500
            //                 }
            //             }]
            //         },
            title: {
                display: true,
                text : "Average price of rent per square meter"
                },

            }
        
    });

    
    const ctx_avg_price_sale = document.getElementById('avg_price_sale');
    const myChart_avg_price_sale = new Chart(ctx_avg_price_sale, {
        type: 'line',
        data: {
            labels: [{%for label_X in x_values %}'{{label_X}}',{%endfor%}],
            datasets: [{
                label: 'price/sqrm',
                data: [{%for value in avg_price_sale %}{{value}},{%endfor%}],
                borderColor: "#3e95cd",
                borderWidth: 1,
                fill: false,
                tension: 0.1

            }]
        },
        options: {
            elements: {
                point: {
                    radius: 8,
                    pointHitRadius: 12,
                    pointHoverRadius: 7,
                    pointHoverBorderColor: "#e69138",
                    hoverBackgroundColor: "#27ce00",

                }
            },
            title: {
                display: true,
                text : "Average sale price"
                },

            }
        
    });

    const ctx_avg_price_rent = document.getElementById('avg_price_rent');
    const myChart_avg_price_rent = new Chart(ctx_avg_price_rent, {
        type: 'line',
        data: {
            labels: [{%for label_X in x_value_rents %}'{{label_X}}',{%endfor%}],
            datasets: [{
                label: 'price/sqrm',
                data: [{%for value in avg_price_rents %}{{value}},{%endfor%}],
                borderColor: "#3e95cd",
                borderWidth: 1,
                fill: false,
                tension: 0.1

            }]
        },
        options: {
            elements: {
                point: {
                    radius: 8,
                    pointHitRadius: 12,
                    pointHoverRadius: 7,
                    pointHoverBorderColor: "#e69138",
                    hoverBackgroundColor: "#27ce00",

                }
            },
            title: {
                display: true,
                text : "Average price of rent per square meter"
                },

            }
        
    });

    const ctx_raw_entries = document.getElementById('entries');
    const myChart_raw_entries = new Chart(ctx_raw_entries, {
        type: 'line',
        data: {
            labels: [{%for label in x_values %}'{{label}}',{%endfor%}],
            datasets: [{
                label: 'total listings',
                data: [{%for value in raw_entries %}{{value}},{%endfor%}],
                borderColor: "#3e95cd",
                borderWidth: 1,
                fill: false,
                tension: 0.1
            },
                    {
                label: 'clean listings',
                data: [{%for value in clean_entries %}{{value}},{%endfor%}],
                borderColor: "#00FF00",
                borderWidth: 1,
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            // scales: {
            //             yAxes: [{
            //                 ticks: {
            //                     beginAtZero: false,
            //                     max: 4600,
            //                     min: 1500
            //                 }
            //             }]
            //         },
            title: {
                display: true,
                text : "Number of sales listings"
                },

            }
        
    });


    const ctx_entries_rents = document.getElementById('entries_rents');
    const myChart_entries_rents = new Chart(ctx_entries_rents, {
        type: 'line',
        data: {
            labels: [{%for label in x_value_rents %}'{{label}}',{%endfor%}],
            datasets: [{
                label: 'total listings',
                data: [{%for value in raw_entries_rents %}{{value}},{%endfor%}],
                borderColor: "#3e95cd",
                borderWidth: 1,
                fill: false,
                tension: 0.1
            },
                    {
                label: 'clean listings',
                data: [{%for value in clean_entries_rents %}{{value}},{%endfor%}],
                borderColor: "#00FF00",
                borderWidth: 1,
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            title: {
                display: true,
                text : "Number of rent listings"
                },

            }
        
    });




    function clickHandler (click) {
            const points = myChart.getElementsAtEventForMode(click, 'nearest', { intersect: true}, true);
            if (points.length) {
                const firstPoint = points[0];
                const index_value = firstPoint["_index"];
                const value = myChart.data.labels[index_value];
                const city = document.getElementById('cityName').textContent;

                const url = 'http://127.0.0.1:8000/deepdive/' + city + '/' + value

                
                window.open(url)


            }
        }
    ctx.onclick = clickHandler;

</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

{% endblock %}