{% extends "dashboard/base.html" %}
{% load humanize %}
{% load static %}
{% load dashboard_extras %}
{% block content %}
        <div class="topbar">
            <div class="navi">
                <span id="cityName">{{ request.path|split:"/" }}</span>
                <span id="cityName">{{ request.path|split_number:"/" }}</span>

                <a href="{% url 'deepDive' request.path|split:'/' request.path|split_number:"/"|add:"-1" %}" class="btn">
                    <span class="title">Previous Dateset</span>
                </a>
                <a href="{{file_download.url}}" class="btn">Download dataset</a>
                <a href="{{file_download_raw.url}}" class="btn">Download raw dataset</a>
                <a href="{% url 'deepDive' request.path|split:'/' request.path|split_number:"/"|add:"1" %}" class="btn">
                    <span class="title">Next Dateset</span>
                </a>


            </div>
            <div class="links">
                <a href="mailto: brunodekadencija@gmail.com"><ion-icon name="mail"></ion-icon></a>
                <a href="https://www.linkedin.com/in/borna-molnar-erhati%C4%87/?originalSubdomain=at"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/Borna07"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ general_data.0 }}">000</div>
                        <div class="cardName">Number of listings:</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="business-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ general_data.1 }} €/m²">0000 €/m²</div>
                        <div class="cardName">Average price/sqrm</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ general_data.2 }}">0000</div>
                        <div class="cardName">Average size</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ general_data.3 }}">0000</div>
                        <div class="cardName">Average year</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="charts">

                <div class="chartAveragePerYear">
                    <div class="chartHeader">
                        <h2>Average price per year build</h2>
                    </div>
                    <canvas id="myChart" width="400" height="100"></canvas>  
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

                    <script type="text/javascript">
                        const randomNum = () => Math.floor(Math.random() * (235 - 52 + 1) + 52);
                        const randomRGB = () => `rgb(${randomNum()}, ${randomNum()}, ${randomNum()})`;


                        let test_values = {{values}}

                        var randomColorGenerator = function () { 
                          return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
                        };

                        let colours = [];

                        test_values.forEach((value) => {
                            colours.push(randomColorGenerator());
                        });


                        const ctx = document.getElementById('myChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{%for label in labels %}'{{label}}',{%endfor%}],
                                datasets: [{
                                    label: 'price/sqrm',
                                    data: [{%for value in values %}{{value}},{%endfor%}],
                                    backgroundColor: colours, 
                                    borderColor: colours,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>

                </div>

                <div class="chartAveragePerYear">
                    <div class="chartHeader">
                        <h2>Average price per city neighboorhood</h2>
                    </div>
                    <canvas id="myChartNaselje" width="400" height="100"></canvas>  

                    </script>

                </div>

                <div class="chartStatDistribution">
                    <div class="chartHeader">
                        <h2>Real estate size histogram</h2>
                    </div>
                    <div>
                        {% autoescape off %}
                        {{ size_histogram }}
                        {% endautoescape %}
                    </div>
                </div>
                


                <!-- <div class="chartAveragePerYear">
                    <div class="chartHeader">
                        <h2>Average price per year build</h2>
                    </div>
                    <div>
                        {% autoescape off %}
                        {{ year_build }}
                        {% endautoescape %}
                    </div>
                </div> -->




            </div>

            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ max.0 }}">000</div>
                        <div class="cardName">Highest price</div>
                    </div>
                    <div class="iconBx">
                        <a href="{{ max.1  }}">
                        <ion-icon name="link-outline"></ion-icon>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ max_per_sqr.0 }}">0000 </div>
                        <div class="cardName">Highest price/sqrm</div>
                    </div>
                    <div class="iconBx">
                        <a href="{{ max_per_sqr.1 }}">
                        <ion-icon name="link-outline"></ion-icon>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ min.0 }}">0000</div>
                        <div class="cardName">Lowest price</div>
                    </div>
                    <div class="iconBx">
                        <a href="{{ min.1  }}">
                        <ion-icon name="link-outline"></ion-icon>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" data-val="{{ min_per_sqr.0 }}">0000</div>
                        <div class="cardName">Lowest price/sqrm</div>
                    </div>
                    <div class="iconBx">
                        <a href="{{ min_per_sqr.1  }}">
                        <ion-icon name="link-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Dataset List-->
            <div class="details">
                <div class="recentOrder">
                    <div class="cardHeader">
                        <h2>All listings</h2>
                        <a href="{{file_download.url}}" class="btn">Download dataset</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Year build</th>
                                <th>Price [€]</th>
                                <th>Square meteres [m²]</th>
                                <th>Price per sqrm [€/m²]</th>
                                <th>Link</th>
                            </tr>
                        </thead>

                        {% for row in lines  %}
                        <tbody>
                            <tr>
                                <td>{{ row.0 }}</td>
                                <td>{{ row.1|intcomma }}</td>
                                <td>{{ row.2 }}</td>
                                <td>{{ row.3 }}</td>
                                <td><a href="{{ row.4 }}">{{ row.4|slice:":80" }}</a></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>

            </div>
        <!-- </div>
    </div> -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <!-- <script src="{% static 'js/my_chart copy.js' %}"></script>    -->

    <script>
        //Counter
        let valueDisplays = document.querySelectorAll(".numbers");
        let interval = 4000;
        valueDisplays.forEach((valueDisplay) => {
        let endValue = parseInt(valueDisplay.getAttribute("data-val"));
        let startValue = 0;
        if (endValue > 1000) {
            startValue = endValue - 400;
        } else {
            startValue = 0;
        };
        let duration = Math.floor(interval / endValue);
        // let duration = 1;
        let counter = setInterval(function () {
            startValue += 1;
            valueDisplay.textContent = startValue;
            if (startValue == endValue) {
            clearInterval(counter);
            }
        }, 1);
        });

                //Naslje Chart

        let values_naselje_ = {{values_naselje}}

        let colours_naselje = [];

        values_naselje_.forEach((value) => {
            colours_naselje.push(randomColorGenerator());
        });


        const ctx_naslje = document.getElementById('myChartNaselje').getContext('2d');
                        const myChartNaselje = new Chart(ctx_naslje, {
                            type: 'bar',
                            data: {
                                labels: [{%for label in labels_naselje %}'{{label}}',{%endfor%}],
                                datasets: [{
                                    label: 'price/sqrm',
                                    data: [{%for value in values_naselje %}{{value}},{%endfor%}],
                                    backgroundColor: colours_naselje, 
                                    borderColor: colours_naselje,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
        
    </script>
{% endblock %}
<script>




        // MenuToggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');

        }

        // add hovered class in select list item
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove(''));
            this.classList.add('hovered');
        }
        list.forEach((item) =>
        item.addEventListener('mouseover', activeLink));

</script>
</html>