{% extends "dashboard/base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="main">
    <div class="charts">
        {% for plot_fig in plot %}
        <div class="chartStatDistribution">
            <div class="chartHeader">
                <h2>{{ plot_fig.1 }}</h2>
            </div>
            <div>
                {% autoescape off %}
                {{ plot_fig.0 }}
                {% endautoescape %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% endblock %}